<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Currency Calculator
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <ion-button routerLink="/home">Rates</ion-button>
        <ion-button (click)="goToChart()">Charts</ion-button>
        <ion-item class="inputArea" text-center>
            <ion-label text-center>€</ion-label>
            <ion-input text-center type="text" [(ngModel)]="eurIn" (input)=getRates()></ion-input>
        </ion-item>
        <ion-list *ngFor="let cur of rateList">
            <ion-item>{{cur[0]}}
                1 EUR = {{cur[1]}} {{eurIn}} EUR = {{cur[3]}} {{cur[0]}}
            </ion-item>
        </ion-list>

    </div>
</ion-content>
